@import url('https://fonts.googleapis.com/css?family=Lato:200, 400');
@import url('https://fonts.googleapis.com/css?family=Lustria');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lustria';
  font-weight: 100;
  color: #222;
}

p {
  color: #555;
}

.blue {
  color: #477acc;
}

.yellow {
  color: #eac435;
}

.green {
  color: #09a55e;
}

.red {
  color: #ca1551;
}

.orange {
  color: #fb4d3d;
}
